<!----
======================================
Title: _footer.ejs 
Author: Evelyn Zepeda
Date: 11/15/23
Description: Footer page for Pets-R-Us
=====================================
---->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer>
        <p>
            &copy; <script>document.write(new Date().getFullYear())</script> - <a href="https://www.bellevue.edu/">Bellevue University</a>
        </p>
    
    </footer>
    
    </body>
    </html>
</body>
</html>