<!----
======================================
Title: _header.ejs 
Author: Evelyn Zepeda
Date: 11/15/23
Description: Header page for Pets-R-Us
=====================================
---->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header>
        <h1>Pets-R-Us</h1>

        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/boarding">Boarding</a></li>
                    <li><a href="/grooming">Grooming</a></li>
                    <li><a href="/training">Training</a></li>
                    <li><a href="/registration">Register</a></li>
                    <li><a href="/customer-list">Customer List</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>