<!----
======================================
Title: boarding.ejs 
Author: Evelyn Zepeda
Date: 11/15/23
Description: Boarding page for Pets-R-Us
=====================================
---->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boarding Services</title>
</head>
<body>
    <div class="container">
     
        <%- include('./partials/_header.ejs') %>
        <div class="main">
            <h1>Our Boarding Services</h1>
            <p>Do you have to go on a trip? Maybe you need someone to take care of your pup while you're away! At Pets-R-Us we have the training, knowledge and experience to take care of your pets needs. We offer a range of affordable prices.</p>

            <h3>Boarding Prices</h3>
            <p>Small dog: $25 per day</p>
            <p>Medium dog: $30 per day</p>
            <p>Large dog: $40</p>

            <p>Rest assured our staff of trained professionals will keep an eye on your pet. You can also sign up to receive updates in case you miss your little one. </p>

        </div>
    </div>
    <%- include('./partials/_footer.ejs') %>
</body>
</html>