<!----
======================================
Title: customer-list.ejs 
Author: Evelyn Zepeda
Date: 12/07/23
Description: Customer list page for Pets-R-Us
=====================================
---->

<%- include('./partials/_header.ejs') %>


   <div class="container">
        <h1 id="customer-title">List of Registered Customers</h1>
    
        <% if(customers.length > 0) { %>
        <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>
                <% customers.forEach(customer => { %>
                <tr>
                    <td><%= customer.customerID %></td>
                    <td><%= customer.email %> </td>
                </tr>

            <% }) %>
            </tbody>
        </table>

        <% } else { %>
            <h3>Customers have not been added to the MongoDB database. Try adding some!</h3>
            <% } %>
            </div><%- include('./partials/_footer.ejs') %>
    </div>

