<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Grooming Services</title>
    <!----
======================================
Title: grooming.ejs 
Author: Evelyn Zepeda
Date: 11/15/23
Description: Grooming page for pets-r-us
=====================================
---->
</head>
<body>
    <%- include('./partials/_header.ejs') %>
    <div class="container">
     
        

        <div class="main">
            <h1>Our Grooming Services</h1>
            <p>At Pets-R-Us we strive for perfection! We offer many services to help your beloved pup. We have many options at an array of prices to fit your needs! From deep cleaning to nail trimming, haircuts, etc. We have what you want for your dog!</p>

            <h3>Bath</h3>
            <p>Small dog: 20-25$</p>
            <p>Medium dog: 30-40$</p>
            <p>Large dog: 40-50$</p>

        </div>
    </div>

    <%- include('./partials/_footer.ejs') %>
</body>
</html>