<!----
======================================
Title: training.ejs 
Author: Evelyn Zepeda
Date: 11/15/23
Description: Training page for Pets-R-Us
=====================================
---->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Services</title>
</head>
<body>
    <%- include('./partials/_header.ejs') %>
    <div class="container">
     
        
        <div class="main">
            <h1>Dog Training Benefits</h1>
            <p>
                <ul>
                    <li> Teaching your dog basic commands and obedience can improve their behavior and make them easier to live with.</li>
                    <li>Training can also strengthen the bond between you and your furry friend, as well as provide mental stimulation and exercise for your dog.</li>
                    <li>Additionally, a well-trained dog is safer and more reliable in public settings, reducing the risk of accidents or incidents.</li>
                    <li>Overall, investing time and effort into dog training can lead to a happier and healthier relationship between you and your pet.</li>
                </ul>1. There are numerous advantages to training your dog.
                 </p>

            <h3>Dog Training Prices</h3>
            <p>Small dog Package: $100</p>
            <p>Medium dog: $150</p>
            <p>Large dog: $200</p>

            <p>All of our services follow a six week schedule. Once per week for 2 hours.</p>

        </div>
    </div>

    <%- include('./partials/_footer.ejs') %>
</body>
</html>