/*
======================================
Title: site.css 
Author: Evelyn Zepeda
Date: 11/15/23
Description: CSS styles page
=====================================
*/

body {
    background-color: pink;
}

h1 {
    color: white;
}

li {
    list-style-type: none;
}